<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Real Fake Plots</title>

  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <link href="/static/css/main.css" rel="stylesheet">
  <link href="/static/css/rangerslider.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/static/js/rangerslider.js"></script>
</head>

<body>
  <header>
    <p>Generate a crazy plot!</p>
  </header>
  <div class="row main-row">
    <div class="column-small">
      <p class="bold">Plot:</p>
    </div>
    <div class="column-big">
      <p>{{plot}}</p>
    </div>
  </div>
  <div class="row">
    <p class="bold">Craziness level</p>
  </div>
  <div class="row">
    <form id="form" action="/" method="POST">
      <input type="range" name="range" list="tickmarks">

      <datalist id="tickmarks">
        <option value="0" label="0%">
        <option value="10">
        <option value="20">
        <option value="30">
        <option value="40">
        <option value="50" label="50%">
        <option value="60">
        <option value="70">
        <option value="80">
        <option value="90">
        <option value="100" label="100%">
      </datalist>
    </form>
  </div>
  <div class="row">
    <div id="button-container">
      <button onclick="document.getElementById('form').submit();">Generate</button>
    </div>
  </div>
  
  <footer>
      <p>&copy; Real Fake Plots 2019. All Rights Reserved.</p>
  </footer>

</body>
</html>
